<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<welcome-file-list>
		<welcome-file>html/welcome.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>LoginService</servlet-name>
		<servlet-class>my.test.app.server.service.LoginServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginService</servlet-name>
		<url-pattern>/MyApp/LoginService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Registration</servlet-name>
		<servlet-class>my.test.app.server.service.RegistrationImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/MyApp/Registration</url-pattern>
	</servlet-mapping>


</web-app>